@font-face {
    font-family: myFirstFont;
    src:url('../../bower_components/bootstrap-colorpicker/dist/font/NotoSansJP-Regular.otf');
}
#fullscreen {
    padding: 15px 15px;
    color: #fff;
    background-color: transparent;
    border: none;
}

#hidefullscreen {
    padding: 15px 15px;
    color: #fff;
    background-color: transparent;
    display: none;
    border: none;
}

/*      Setting-Screen      */

.box-body.import-form {
    margin-top: 15%;
}

.box-footer.btn-import {
    margin-top: 8%;
}

.col-md-3.impimg-info {
    margin-top: 15%;
}

.text-impimg {
    margin: 10px 10px 10px 10px;
}

.treeview-menu.view-block {
    display: block;
}

.form-control.input-sm.itemdb-rbox {
    border: 1px solid #0098ce;
}

.error-list {
    border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    display: block;
    padding: 10px 15px;
}

/*     Output-Data       */

.output-modal {
    width: 40%;
    margin: 10% auto 7% 35%;
}

.ob-escal-form {
    transform: translate(0, 0);
    padding: 10px;
    max-height: 500px;
    overflow: auto;
}

.form-control.no-border {
    border: none;
    margin: -7px;
}

.stackDrop1 {
    max-width: 150px;
    padding: 15px;
}

.form-control.input-sm.no-border {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.setting-modal {
    width: 50%;
    margin: 10% auto;
}
.vakata-context { z-index:10052 !important; }
.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}


@media(min-width: 1281px) {
    .color {
        width: 30px;
        height: 30px;
    }
    .color-select {
        max-width: 355px;
        display: table;
        margin: auto;
    }

}

@media(max-width: 1280px) {
    .color {
        width: 20px;
        height: 20px;
    }
    .color-select {
        max-width: 255px;
        display: table;
        margin: auto;
    }

}
