/* All-page: Button FullScreen Toggle */
#fullscreen {
    padding: 15px 15px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.select2-dropdown {
    border-left: 1px solid #3c8dbc !important;
    border-right: 1px solid #3c8dbc !important;
    border-bottom: 1px solid #3c8dbc !important;
}

#hidefullscreen {
    padding: 15px 15px;
    color: #fff;
    background-color: transparent;
    display: none;
    border: none;
}

.skin-blue .main-header .navbar .nav > li > a:hover {
    background: transparent !important;
    cursor: default;
}

.modal-dialog.modal-md {
    width: 425px;
    margin: 30px auto;
}

.modal-md-body {
    padding: 10px !important;
}

.modal-md-tf {
    padding: 7px !important;
}

.btn-default.more[disabled] {
    cursor: auto;
}

.btn.btn-default.more[disabled]:hover {
    background-color: #f4f4f4 !important;
    border-color: #ccc;
}

.btn.btn-default.more[disabled]:focus {
    background-color: #f4f4f4 !important;
    border-color: #ccc;
}

table.data-table thead tr th {
    font-weight: normal !important;
}

table.data-table thead tr th span {
    position: absolute;
    bottom: 1px;
    right: 3px;
    display: block;
    top: 12px;
    opacity: 0.8;
}

/*      Setting-Screen      */
.setting-modal-full {
    width: 100%;
    margin: 5% auto;
}

.setting-modal {
    width: 80%;
    margin: 10% auto;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.form-control {
    resize: vertical !important;
    height: auto;
}

textarea {
    resize: none !important;
}

.fa.fa-trash-o.fa-2x {
    cursor: pointer;
}

.ob-escal-form {
    transform: translate(0, 0);
    padding: 10px;
    max-height: 500px;
    overflow: auto;
}

.form-control.input-sm.no-border {
    border: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.form-control.no-border {
    border: none;
    margin: -7px;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.output-modal {
    width: 40%;
    margin: 10% auto 7% 35%;
}

.error-list {
    border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    display: block;
    padding: 10px 15px;
}

.box.box-non-top {
    border-top: none !important;
}

/*select:not(.select2), input {*/
/*height: 32px !important;*/
/*}*/

.vakata-context {
    z-index: 1050 !important;
}

select, select option {
    color: #000000;
}

select:invalid, select option[value=""] {
    color: #999999;
}

/*Added for browser compatibility*/
[hidden] {
    display: none;
}

/*   Individual   */
.previewModal {
    margin-top: 10%;
}

.text-tabNote {
    width: 100%;
    height: 80px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 5px;
}

.nav-tabs-custom > .nav-tabs > li > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
    background-color: transparent;
    font-size: 14px;
    color: orange;
}

.disabledTab {
    pointer-events: none;
}

.nav-tabs li.disabledTab a {
    pointer-events: none;
}

.box-body.height300, .height300 {
    max-height: 300px;
    overflow-y: auto;
}

.box-body.height550, .height550 {
    max-height: 550px;
    overflow-y: auto;
}

.table * {
    vertical-align: middle !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn.btn-success.focus, .btn.btn-success:focus {
    color: #fff;
    background: #00a65a !important;
}

.setDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 500;
    padding: 0 0 0 0;
}

.setDisabled > button {
    pointer-events: none !important;
}

.title-break {
    max-width: 50%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    padding: 0;
    float: left;
}

.querry-title::before {
    content: "[";
    float: left;
    /*margin-left: 13%;*/
}

.querry-title::after {
    content: "]";
    float: left;
}

/* Note: Always at the end of file
NghiaNV7
*/
@media (max-width: 1280px) {
    .main-header .navbar-custom-menu a,
    .main-header .navbar-right a {
        color: inherit;
        background: transparent;
    }

    .content-header > .breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #d2d6de;
        padding-left: 10px;
    }

    .content-header > .breadcrumb li:before {
        color: #97a0b3;
    }

    .navbar-custom-menu .navbar-nav > li {
        float: left;
    }

    .navbar-custom-menu .navbar-nav {
        margin: 0;
        float: left;
    }

    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }

    .navbar-collapse.pull-left {
        float: none !important;
    }

    .navbar-collapse.pull-left + .navbar-custom-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 40px;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
        background: #fff !important;
        color: #444 !important;
    }

    .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
        background: #fff !important;
        color: #444 !important;
    }

    .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
        background-color: #f9f9f9;
    }

    .navbar-custom-menu > .navbar-nav {
        float: right;
    }

    .navbar-custom-menu > .navbar-nav > li {
        position: static;
    }

    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        position: absolute;
        right: 5%;
        left: auto;
        border: 1px solid #ddd;
        background: #fff;
    }

    .chart-legend > li {
        float: left;
        margin-right: 10px;
    }

    .error-page {
        width: 100%;
    }

    .error-page > .headline {
        float: none;
        text-align: center;
    }

    .error-page > .error-content {
        margin-left: 0;
    }

    .error-page > .error-content > h3 {
        text-align: center;
    }
}

@media (min-width: 1281px) {
    .color {
        width: 30px;
        height: 30px;
    }

    .color-select {
        max-width: 355px;
        display: table;
        margin: auto;
    }
}

@media (min-width: 1281px) and (max-width: 1919px) {
    .color {
        width: 20px;
        height: 20px;
    }

    .color-select {
        max-width: 255px;
        display: table;
        margin: auto;
    }

    .box-footer > .col-md-1 {
        width: 12.4999995% !important;
    }

    .box-footer > .col-md-offset-4 {
        margin-left: 23.333333%;
    }

    .box-footer > .col-md-4 {
        width: 52.333333%;
    }

    .box-footer > .col-md-6 > .col-sm-5 {
        width: 72.666667%;
    }

    .box-footer > .col-sm-2 {
        width: 23.666667%;
    }

    .navbar-custom-menu {
        width: 84% !important;
    }
}

.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
    background: transparent !important;
}

.theadFixed > tbody::-webkit-scrollbar {
    display: overlay;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.v-middle {
    vertical-align: middle !important;
}

.v-top {
    vertical-align: top;
}

.v-bottom {
    vertical-align: bottom;
}

.c-pointer {
    cursor: pointer;
}

.c-default {
    cursor: default;
}

[v-cloak] {
    display: none;
}

.box.activity {
    z-index: 1040;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.jtk-connector {
    z-index: 1090;
}

.jtk-endpoint {
    z-index: 2000;
}

.jtk-overlay {
    z-index: 2010;
}

button.confirmClose {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.confirmClose {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

/*.select2-search.select2-search--inline, .select2-search.select2-search--inline > input {
    width: 100% !important;
} */

/*.table-striped > tbody > tr:nth-of-type(odd) {*/
/*background-color: #ecf0f5 !important;*/
/*} */

#roleTable > tbody > tr > td:nth-child(2) {
    word-wrap: break-word;
}

.serverStats {
    margin-top: 20px;
    margin-bottom: -50px;
}

.serverStats > h4 {
    font-weight: bold !important;
}

#savedQuery tr td {
    text-align: center;
}

.notify-error{
    border-width:1px!important;
}
.notify-error {
    border :1px solid #ff0000!important;
}
.has-error{
    border-color: red !important;
}